// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as serializers from "../../../../serialization/index.js";
import type * as TrueHarness from "../../../index.js";

export declare namespace ServerClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ServerClient {
    protected readonly _options: NormalizedClientOptions<ServerClient.Options>;

    constructor(options: ServerClient.Options) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * Report optional runtime capabilities available in this server deployment.
     *
     * @param {ServerClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.TrueHarnessError}
     * @throws {@link errors.TrueHarnessTimeoutError}
     *
     * @example
     *     await client.server.getCapabilities()
     */
    public getCapabilities(
        requestOptions?: ServerClient.RequestOptions,
    ): core.HttpResponsePromise<TrueHarness.GetCapabilitiesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getCapabilities(requestOptions));
    }

    private async __getCapabilities(
        requestOptions?: ServerClient.RequestOptions,
    ): Promise<core.WithRawResponse<TrueHarness.GetCapabilitiesResponse>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "api/v1/capabilities",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.GetCapabilitiesResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.TrueHarnessError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/v1/capabilities");
    }
}
