// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../../../BaseClient.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as serializers from "../../../../../../serialization/index.js";
import * as TrueHarness from "../../../../../index.js";

export declare namespace McpServersClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class McpServersClient {
    protected readonly _options: NormalizedClientOptions<McpServersClient.Options>;

    constructor(options: McpServersClient.Options) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * All configured MCP servers with nested auth_status (settings / admin projection).
     *
     * @param {McpServersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.TrueHarnessError}
     * @throws {@link errors.TrueHarnessTimeoutError}
     *
     * @example
     *     await client.settings.mcpServers.list()
     */
    public list(
        requestOptions?: McpServersClient.RequestOptions,
    ): core.HttpResponsePromise<TrueHarness.ListConfiguredMcpServersResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(requestOptions));
    }

    private async __list(
        requestOptions?: McpServersClient.RequestOptions,
    ): Promise<core.WithRawResponse<TrueHarness.ListConfiguredMcpServersResponse>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "api/v1/settings/mcp-servers",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.ListConfiguredMcpServersResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.TrueHarnessError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/v1/settings/mcp-servers");
    }

    /**
     * Full upsert keyed by `name`: creates the server or replaces its manifest. Does not start DCR or modify stored oauth_server / oauth_client columns.
     *
     * @param {TrueHarness.settings.McpServerManifest} request
     * @param {McpServersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link TrueHarness.BadRequestError}
     * @throws {@link errors.TrueHarnessError}
     * @throws {@link errors.TrueHarnessTimeoutError}
     *
     * @example
     *     await client.settings.mcpServers.upsert({
     *         name: "name",
     *         url: "url"
     *     })
     */
    public upsert(
        request: TrueHarness.settings.McpServerManifest,
        requestOptions?: McpServersClient.RequestOptions,
    ): core.HttpResponsePromise<TrueHarness.PutMcpServerResponse> {
        return core.HttpResponsePromise.fromPromise(this.__upsert(request, requestOptions));
    }

    private async __upsert(
        request: TrueHarness.settings.McpServerManifest,
        requestOptions?: McpServersClient.RequestOptions,
    ): Promise<core.WithRawResponse<TrueHarness.PutMcpServerResponse>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "api/v1/settings/mcp-servers",
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(
                {
                    ...serializers.settings.McpServerManifest.jsonOrThrow(request, {
                        unrecognizedObjectKeys: "passthrough",
                        allowUnrecognizedUnionMembers: true,
                        allowUnrecognizedEnumValues: true,
                        omitUndefined: true,
                    }),
                    type: "remote",
                },
                requestOptions?.additionalBodyParameters,
            ),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.PutMcpServerResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new TrueHarness.BadRequestError(
                        serializers.RequestErrorResponse.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                default:
                    throw new errors.TrueHarnessError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PUT", "/api/v1/settings/mcp-servers");
    }

    /**
     * MCP server presets shipped with the server (mcp-catalog.yaml). Discovery-only: copy an entry into PUT /settings/mcp-servers to configure it.
     *
     * @param {McpServersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.TrueHarnessError}
     * @throws {@link errors.TrueHarnessTimeoutError}
     *
     * @example
     *     await client.settings.mcpServers.catalog()
     */
    public catalog(
        requestOptions?: McpServersClient.RequestOptions,
    ): core.HttpResponsePromise<TrueHarness.GetMcpServerCatalogResponse> {
        return core.HttpResponsePromise.fromPromise(this.__catalog(requestOptions));
    }

    private async __catalog(
        requestOptions?: McpServersClient.RequestOptions,
    ): Promise<core.WithRawResponse<TrueHarness.GetMcpServerCatalogResponse>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "api/v1/settings/mcp-servers/catalog",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.GetMcpServerCatalogResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.TrueHarnessError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/v1/settings/mcp-servers/catalog",
        );
    }

    /**
     * For servers without auth or with header credentials, returns authenticated (no browser flow). For auth.type dcr, returns authenticated when a usable (or refreshable) token exists; otherwise runs DCR if needed and returns auth_required with an authorization URL. Optional redirect_url is stored for a future FE landing redirect (callback currently returns JSON only).
     *
     * @param {string} name - Configured MCP server name.
     * @param {TrueHarness.settings.AuthorizeMcpServersRequest} request
     * @param {McpServersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link TrueHarness.BadRequestError}
     * @throws {@link TrueHarness.NotFoundError}
     * @throws {@link TrueHarness.InternalServerError}
     * @throws {@link errors.TrueHarnessError}
     * @throws {@link errors.TrueHarnessTimeoutError}
     *
     * @example
     *     await client.settings.mcpServers.authorize("name")
     */
    public authorize(
        name: string,
        request: TrueHarness.settings.AuthorizeMcpServersRequest = {},
        requestOptions?: McpServersClient.RequestOptions,
    ): core.HttpResponsePromise<TrueHarness.ConfiguredMcpAuthorizeResponse> {
        return core.HttpResponsePromise.fromPromise(this.__authorize(name, request, requestOptions));
    }

    private async __authorize(
        name: string,
        request: TrueHarness.settings.AuthorizeMcpServersRequest = {},
        requestOptions?: McpServersClient.RequestOptions,
    ): Promise<core.WithRawResponse<TrueHarness.ConfiguredMcpAuthorizeResponse>> {
        const { redirectUrl } = request;
        const _queryParams: Record<string, unknown> = {
            redirect_url: redirectUrl,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `api/v1/settings/mcp-servers/${core.url.encodePathParam(name)}/authorize`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.ConfiguredMcpAuthorizeResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new TrueHarness.BadRequestError(
                        serializers.RequestErrorResponse.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                case 404:
                    throw new TrueHarness.NotFoundError(
                        serializers.RequestErrorResponse.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                case 500:
                    throw new TrueHarness.InternalServerError(
                        serializers.RequestErrorResponse.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                default:
                    throw new errors.TrueHarnessError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/v1/settings/mcp-servers/{name}/authorize",
        );
    }

    /**
     * All tools exposed by the given configured MCP server (non-paginated), as returned by the MCP `tools/list` call.
     *
     * @param {string} name - Configured MCP server name.
     * @param {McpServersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link TrueHarness.UnauthorizedError}
     * @throws {@link TrueHarness.NotFoundError}
     * @throws {@link TrueHarness.BadGatewayError}
     * @throws {@link errors.TrueHarnessError}
     * @throws {@link errors.TrueHarnessTimeoutError}
     *
     * @example
     *     await client.settings.mcpServers.listTools("name")
     */
    public listTools(
        name: string,
        requestOptions?: McpServersClient.RequestOptions,
    ): core.HttpResponsePromise<TrueHarness.ListMcpServerToolsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listTools(name, requestOptions));
    }

    private async __listTools(
        name: string,
        requestOptions?: McpServersClient.RequestOptions,
    ): Promise<core.WithRawResponse<TrueHarness.ListMcpServerToolsResponse>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `api/v1/settings/mcp-servers/${core.url.encodePathParam(name)}/tools`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.ListMcpServerToolsResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new TrueHarness.UnauthorizedError(
                        serializers.RequestErrorResponse.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                case 404:
                    throw new TrueHarness.NotFoundError(
                        serializers.RequestErrorResponse.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                case 502:
                    throw new TrueHarness.BadGatewayError(
                        serializers.RequestErrorResponse.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                default:
                    throw new errors.TrueHarnessError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/v1/settings/mcp-servers/{name}/tools",
        );
    }
}
